{% extends "base.html" %}
{% load static %}

{% block title %}{{ plan.name }} - Subscription Plan Details{% endblock %}

{% block page_header %}
    <header class="container header-container">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-4">{{ plan.name }}</h1>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
<div class="d-flex flex-column min-vh-100">
    <section class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card border-0 shadow-sm">
                    <img class="card-img-top img-fluid" src="{{ plan.image.url }}" alt="{{ plan.name }}" loading="lazy">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title">{{ plan.name }}</h2>
                        <p class="card-text">{{ plan.description }}</p>
                        <p class="lead font-weight-bold">${{ plan.price }}</p>
                        <!-- Payment button -->
                        <div class="row mt-4">
                            <div class="col text-left">
                                <a href="{% url 'create_checkout_session' %}" class="btn btn-primary">Subscribe Now</a>
                                <a href="{% url 'plans' %}" class="btn btn-secondary">Back to Plans</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/@stripe/stripe-js"></script>
<script>
    var stripe = Stripe('pk_test_51PehLIRvzCaZ4Xmpa3fAje2VRg7BUCSTIi1eXeCjW6BKOtupBc7NRanFDF8E4IH145jRufJGJgBHnvSPA3tnJeBV00AcetY068'); // Your public key

    document.getElementById('checkout-button').addEventListener('click', function () {
        fetch('{% url "create_checkout_session" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(function (response) {
            return response.json();
        })
        .then(function (sessionId) {
            return stripe.redirectToCheckout({ sessionId: sessionId.id });
        })
        .then(function (result) {
            if (result.error) {
                alert(result.error.message);
            }
        })
        .catch(function (error) {
            console.error('Error:', error);
        });
    });
</script>
{% endblock %}
