{% extends "base.html" %}
    {% load static %}
    
    {% block title %}Checkout Success{% endblock %}
    
    {% block page_header %}
        <div class="container header-container">
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
    {% endblock %}
    
    {% block content %}
        <h1>Checkout Canceled</h1>
        <p>Your subscription was not completed. Please try again.</p>
    {% endblock %}
    
    {% block scripts %}
        <!-- Include any JavaScript specific to plans.html if needed -->
    {% endblock %}
    