{% extends "base.html" %}
{% load static %}

{% block title %}Book a class{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="col-md-6">
    <h2 class="text-center">Successful booking</h2>
    <p class="text-center">Your booking was successful</p>
    <a href="{% url 'book_class' %}" class="btn btn-primary w-100">Book another class</a>
  </div>
</div>
{% endblock %}
