html{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif; 
    height: calc(100vh - 184px);
    color: #333;
    font-family: Roboto;
    background-color: white;
    overflow-x: hidden;
}

.logo{
    width: 35%;
    height: auto;
}
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100%;
    overflow: hidden; /* Hides any video overflow */
    z-index: -1; /* Ensure it's behind other content */
}

.background-video video {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensures the video covers the entire container */
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.choose-plan-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

footer ul {
    list-style-type: none;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: inherit;
}

.banner-container {
    overflow: hidden;
    background-color: #000;
  }
  
  .scroll {
    white-space: nowrap;
    margin: 0 2em;
  }
  
  .scroll div {
    display: flex;
    gap: 2em;
  }
  
  .scroll h4 {
    color: white;
    font-weight: bold;
    margin-bottom: 0;
}
  
  .LeftToRight {
    animation: LeftToRight 10s infinite linear;
  }
  
  @keyframes  LeftToRight {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(100%);
    }
  }

.container-fluid {
    padding: 0;
} 

.zoom-effect {
    overflow: hidden;
    position: relative;
}
.zoom-effect img {
    transition: transform 0.3s ease;
}
.zoom-effect:hover img {
    transform: scale(1.1); /* Adjust the scale factor for zoom level */
}

.contact-edit{
    width: 100%;
}

.form-container{
    width: 100%;
}


/* Overlay effect */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Match the border radius of the container */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s; /* Smooth transition for hover effect */
}

/* Text inside the overlay */
.overlay .text {
    text-align: center;
    font-size: 16px;
}

.edit-icon-overlay {
    position: absolute;
    bottom: 40px;  
    right: 40px; 
    background: rgba(255, 255, 255, 0.7);  /* Light background for better visibility */
    border-radius: 50%;
    padding: 5px;
}

.edit-icon {
    width: 20px;  
    height: 20px;  
}

.input-container {
    display: flex;
    justify-content: center; 
    align-items: stretch;
}

#newsletter-email {
    height: 40px; 
    padding: 10px; 
    border-radius: 5px 0 0 5px; 
    border: 1px solid #ccc; 
    flex-grow: 2; 
    font-size: 16px; 
    min-width: 250px; 
}

button[type="submit"] {
    height: 40px; 
    padding: 10px 20px; 
    border-radius: 0 5px 5px 0; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    background-color: #007bff;
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.resetpassword{
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #0056b3; 
}

.input-container input {
    margin-right: 10px; 
}

#newsletter-form{
    width: 80%;
}

.map-iframe {
    width: 400px;
    height: 350px;
    transition: all 0.3s ease; /* Smooth transition */
}

#signup_form{
    height: 100vh;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}
@media (max-width: 1800px){
    .background-video{
        display: none;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }
}

@media (max-width: 768px) {
    .map-iframe {
        width: 100%; 
        height: 250px;  
    }
}

@media (max-width: 480px) {
    .map-iframe {
        height: 200px; 
    }
    .errorpage {
        padding: 0 15px; 
        height: auto; 
    }
}

@media (max-width: 600px) {
    .account_form {
        padding: 0 10px;
    }
    .account_form > div {
        width: 100%;
        padding: 20px;
    }
    #signup_form{
        height: 140vh;
    }
    .verification{
        padding: 0 10px;
    }
}