{% extends "base.html" %}
{% load i18n allauth %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh; flex-direction: column;">
    <h1 class="logo-font" style="margin-bottom: 20px;">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>
    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="resetpassword" type="submit">{% trans 'Reset My Password' %}</button>
    </form>
</div>
{% endblock content %}
