{% extends "base.html" %}
{% load static %}

{% block title %}Book a class{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="col-md-6">
    <h2 class="text-center">Book a class</h2>
    <p class="text-center">Fill out the form below to book a class.</p>

    <form method="post" action="{% url 'book_class' %}" id="booking-form">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="elem-group">
        <label for="id_visitor_name" class="form-label" value="{{ form.visitor_name.value }}">Name</label>
        {{ form.visitor_name }}
      </div>
      <div class="elem-group">
        <label for="id_visitor_email" class="form-label" value="{{ form.visitor_email.value }}">Email</label>
        {{ form.visitor_email }}
      </div>
      <div class="elem-group">
        <label for="id_visitor_phone" class="form-label" value="{{ form.visitor_phone.value }}">Phone Number</label>
        {{ form.visitor_phone }}
      </div>

      <div class="elem-group">
        <label for="id_fitness_class" class="form-label">Select Fitness Class</label>
        {{ form.fitness_class }}
      </div>
      <div class="elem-group">
        <label for="id_class_day" class="form-label">Select Day</label>
        {{ form.class_day }}
      </div>

      <button type="submit" name="search_times" class="btn btn-primary w-100">Search for Time</button>
    </form>

    {% if times %}
      <div id="available-times" style="margin-top: 20px;">
        <form method="post" action="{% url 'book_class' %}">
          {% csrf_token %}
          <input type="hidden" name="fitness_class" value="{{ selected_class }}">
          <input type="hidden" name="class_day" value="{{ selected_day }}">

          <div class="elem-group">
            <label for="id_class_time" class="form-label">Select Time</label>
            <select name="class_time" id="id_class_time" class="form-select">
              <option value="">Select a time</option>
              {% for time in times %}
                <option value="{{ time.time_range }}">{{ time }}</option>
              {% endfor %}
            </select>
          </div>

          <hr>
          <button type="submit" name="book_now" class="btn btn-primary w-100">Book Now</button>
          {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
                {% for field in form %}
                    {% if field.errors %}
                        <div>{{ field.label }}: {{ field.errors }}</div>
                    {% endif %}
                {% endfor %}
            </div>
          {% endif %}
        </form>
      </div>
    {% else %}
      {% if selected_class and selected_day %}
        <div class="alert alert-info" role="alert" style="margin-top: 20px;">
          No available times for {{ selected_class }} on {{ selected_day }}.
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
